* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1450px;
  padding-left: 20px;
  padding-right: 20px;
}

/* TODO taka ætti padding af main þegar komið er fyrir ofan hámarksbreidd */

h1 {
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}

/* grid fyrir efni, setja þarf upp í html */
.grid {
  max-width: 1450px;
  margin: 0 auto;
}

.cards__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.grid__col {
  width: 100%;
}



/* TODO setja upp grid fyrir >= 1000px */

@media (max-width: 1490px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media (min-width: 1000px) {

  .grid__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .col__text:nth-child(odd) {
    max-width: 50%;
    margin-bottom: 40px;
    padding-right: 10px;
  }

  .col__text:nth-child(even) {
    max-width: 50%;
    margin-bottom: 40px;
    padding-left: 10px;
  }

  .col__img:nth-child(odd) {
    max-width: 50%;
    margin-bottom: 40px;
    padding-right: 10px;
  }

  .col__img:nth-child(even) {
    max-width: 50%;
    margin-bottom: 40px;
    padding-left: 10px;
  }

  .col__card {
    max-width: 33.333%;
  }

}

@media (max-width: 1000px) {

  .grid__row:nth-child(2) {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .col__card {
    max-width: 50%;
  }
}

@media (max-width: 699px) {

  .col__text {
    max-width: 100%;
  }

  .col__img {
    max-width: 100%;
  }

  .cards__row {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .col__card {
    max-width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 470px;
    overflow: hidden;
    border-bottom: 2px solid #aaa;
  }

  .card__content {
    flex-direction: column;
    max-width: 100%;
  }

  .card__text {
    margin-bottom: 20px;
  }

  .card__image {
    width: 100%;
  }
}

/* grid fyrir cards */

.cards {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: #fff;

  max-width: 470px;
  max-height: 300px;

  width: 100%;
  height: 100%;

  margin-bottom: 10px;

  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.card__text {
  overflow: auto;
  word-break: break-all;
  line-height: 22px;
  font-size: 16px;
}

.card__content {
  display: flex;
  overflow: auto;
  word-break: break-all;
  flex-basis: 100%;
}

.card__img {
  padding: 5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 5px;
  padding-bottom: 10px;
}

li {
  font-weight: bold;
  margin-right: 10px;
}

.card img {
  max-width: 150px;
}

.card h2 {
  margin-top: 5px;
  font-size: 22px;
  line-height: 22px;
  word-break: break-all;
  margin-bottom: 10px;
}


/* TODO responsive stílar fyrir .card */